{% extends "layout.html"%}

{%block corpo%}
{%if session.logado%}
<form action="{{url_for('inserir_posts')}}" method="post" class="inserir-post">
<dl>
    <dt>Titulo:
    <dd><input type="text" name="titulo" size="30"></dd>
    </dt>
    <dt>Texto:
        <dd><textarea name="texto" rows="5" cols="40"></textarea></dd>
        <dd> <input type="submit" value="Publicar"> </dd>
    </dt>
</dl>
</form>
{%endif%}

<ul class="posts">
    {%for post in post %}
    <li>
        <h2>{{post.titulo}}</h2>
        {{post.texto}}
        {{post.data_criacao}}
    </li>
    {%else%}
    <li><em> Ainda não existem post no blog </em></li> 
    {%endfor%}    
</ul>
{%endblock%}